<!--include header-->
<%- include('include/_header') %>
<!--/include header-->

<!--Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/products"><i class="fas fa-angle-double-left"></i> All Product</a>
            </div>
        </div>

        <!--Header2-->
            <div class="form-title text-center">
                <h2 class="text-dark">New Product</h2>
                <span class="text-light">Use the below form to Add a new product</span>
            </div>
        <!--/Header2-->
    
        <!--add product form-->
            <%- include('include/_productform') %>
        <!--/add product form-->
    </div>
</main>
<!--/Main Site-->

<!--include header-->
<%- include('include/_footer') %>
<!--/include header-->