<!-- Include Header -->
<%- include('include/_header') %>
<!-- /Include Header -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/products" class="border-shadow">
                <span class="text-gradient"> Products </span>
            </a>
            <h1>Please Select</h1>
            <a href="/category" class="border-shadow">
                <span class="text-gradient"> Categories </span>
            </a>
        </div>
    </div>
</main>

<!-- Include footer -->
<%- include('include/_footer') %>
<!-- /Include footer -->