<!--form handling-->
<form action="/addCategory" method="POST" id="add_product">
    <div class="new_product">
        <div class="form-group">
            <label for="CategoryId" class="text-light">Category ID*</label>
            <input type="text" id="CategoryId" name="CategoryId" required>
        </div>
        <div class="form-group">
            <label for="CategoryName" class="text-light">Category Name*</label>
            <input type="text" id="CategoryName" name="CategoryName" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark">Save</button>
        </div>
    </div>
</form>
<!--/form handling-->